/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #dddddd;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#modalBtn {
  font-family: $main-text-font;
  font-size: 18px;
  color: #455880;
  line-height: 20px;
  text-align: center;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  &:hover {
    background: #3e3f44;
    transition: 0.7s;
    color: #ffffff;
  }
}

.modal_form-name {
  font-family: "Tiro Tamil", serif;
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
}

.modal_submit {
  background-color: #455880;
  border-radius:999px;
  width: 200px;
  height: 50px;
  &:hover {
    background-color: #888;
  }
}
